@media screen and (max-width: 800px) {
    #title-box {
        flex-direction: column;
    }

    #title-image {
        visibility: hidden;
        width: 0;
        height: 0;
        margin-bottom: 0;
    }

    h1 {
        font-size: 4em;
        order: -1;
        margin: 56px auto 0 auto;
    }

    h1::after {
        top: 150px;
    }


}

@media screen and (max-width: 500px) {
    body {
        font-size: 0.9em;
    }

    h1 {
        font-size: 3em;
    }

    h1::after {
        top: 120px;
    }

    .container {
        margin-left:0;
        margin-right: 0;
    }

    .input-label-pair {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-left: 10px;
        margin-right: auto;
    }

    .inputNewTask {
        height: 2em;
        width: 20em;
        margin-left: 20%;
    }

    .btnAddTask {
        margin-left: 33%;
        margin-top: 22px;
        height: 2em;
        width: 10em;
    }

    .deleteButton {
        right: 5%;
    }

}