@media screen and (max-width: 1000px) {

    body {
        font-size: 0.9em;
    }

    #title-box {
        flex-direction: column;
        justify-content: flex-start;
    }

    #title-image {
        width: 100px;
    }

    h1 {
        text-align: center;
        font-size: 3em;
        order: -1;
    }


}

@media screen and (max-width: 700px) {


    .input-label-pair {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-left: 10px;
        margin-right: auto;
    }

    .inputNewTask {
        height: 2em;
        width: auto;
        margin: 0 4%;
    }

    button {
        height: 1.5em;
    }

    .btnAddTask {
        margin-left: 33%;
        margin-top: 22px;
        width: 10em;
    }

    .deleteButton {
        right: 6%;
    }

}