@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: rgb(199,222,255);
    --darker-color: rgb(115, 162, 228);
    --darker-color-2: rgb(0, 54, 136);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', Sans-Serif;
}

body {
    min-height: 100vh;
}

.container {
    width: 94%;
    margin: 20px 3% 0;
    padding: 2%;
}

#title-box {
    padding: 2%;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
}

#title-image {
    align-self: center;
    order: 0;
    height: auto;
    width:140px;
}

h1 {
    display: block;
    width: fit-content;
    font-size: 6em;
    order: 1;
    align-self: center;
}

h2 {
    margin-bottom: 40px;
    width: fit-content;
}

h2::after {
    display: block;
    content: '';
    background: var(--primary-color);
    width: 100%;
    height: 5px;
}

.inputNewTask {
    height: 2em;
    width: 30em;
}

ul {
    background: var(--darker-color);
    font-size: 1.2em;
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.btnAddTask {
    margin-left: 2em;
    height: 2em;
    width: 10em;
}

li {
    height: fit-content;
    padding-left: 10px;
}

li:nth-child(even) {
    background:var(--primary-color);
}

.spanContent {
    display:inline-block;
    width: 50%;
    overflow-wrap: break-word;
}

button {
    position: absolute;
    background: white;
}

.btnAddTask {
    position: relative;
}

button:hover {
    cursor: pointer;
    background: var(--darker-color-2);
    color: white;
}

footer {
    position: relative;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: var(--darker-color-2);
    margin-top: 5%;
}

#footer-text {
    margin: auto;
    display: block;
    width:fit-content;
    height: fit-content;
    position: relative;
    top: 25%;
    font-size: 1.2em;
    color: white;
}

.taskDoneButton, .undoButton  {
    right: 30%;
}

.deleteButton {
    right: 20%;
}


.taskDone {
    text-decoration:line-through;
  }

  input:focus {
    box-shadow: 0 0 5px 5px var(--primary-color);
  }